i {
  display: inline-block;
  margin: 12px;
  font-size: 40px;
 }



 button {
  border-color: transparent;
  background-color: transparent;
}

.contenedor-rep {
  margin: auto;
  width: 100%;
  /* max-width: 500px;
  max-height: 900px; */
  background: linear-gradient(10deg, rgba(255, 255, 255, 0.486) 9%, #1f62be 96%) center center, #2A80F8 ;
  padding: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  /* border-radius: 5em; */
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-direction: column;

}


.barraprogreso {
  width: 300px;
}


