
<div *ngIf="song" class="contenedor-rep">
<!-- Hide  -->
<button (click)="stop()" (click)="song = null" class="far fa-window-close"> Close</button>  
<!-- Interfaz del reproductor -->

<div class="controles">
  <!-- Controles/Botones-->

 
  <!--Play-->
  <button (click)="play()"><i class="controls far fa-play-circle"></i></button>

  <!--Pause-->
  <button (click)="pause()"><i class="controls far fa-pause-circle"></i></button>

  <!--stop-->
  <button (click)="stop()"><i class="controls far fa-stop-circle"></i></button>
  <hr>
  <!--Barra de progreso-->
  {{ state?.readableCurrentTime }}
  <input type="range" class="tiempo_cancion"
        min="0" 
        [max]="state?.duration" 
        step="1" 
        [value]="state?.currentTime">
  {{ state?.readableDuration }}

</div>  


</div>
