table {
  border-collapse: collapse;
  width: 100%;
}

table thead {
  color: #fff;
  background-color: rgb(42, 128, 248);
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color:rgba(157, 172, 250, 0.533);
  /* color: white; */
  cursor: pointer;
}

tbody tr.selected {
  background-color: #3412bbDC;
  color: white;
}

tbody tr.selected:hover {
  background-color: #3412bbDC;
  color: gray;
}



img.thumb{
  height: 50px;
  width: 50px;
}

li {
  cursor: pointer;
}


