<h3>Lista de reproducción</h3>

<!-- Filtro -->
<form>
  <label for="filtroGrupo"><strong>Realiza tu búsqueda: </strong></label>
  <input type="text" 
         id="filtroGrupo" 
         name="filtroGrupo" 
         class="busqueda" 
         placeholder="Busca..." 
         [(ngModel)]="cancionFiltrada"/>
</form>

<table>

  <thead>
    <tr>
      <th>Track</th>
      <th></th>
      <th>Title</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let song of songs | filtro: cancionFiltrada; 
        let i = index" 
        (click)="onOpenFile(song, i)" 
        (click)="onSelect(song)" >
      <td>{{song.track}}</td>
      <td ><img src={{song.thumbnails}} class="thumb"></td>
      <td>{{song.title}}</td>
      <td>{{song.time}}</td>
    </tr>
  </tbody>
  
</table>