<!-- Interfaz del reproductor -->

<div class="controles">
  <!-- Controles/Botones-->

  <!--Play-->
  <button><i class="far fa-play-circle"></i></button>

  <!--Pause-->
  <button><i class="far fa-pause-circle"></i></button>

  <!--stop-->
  <button><i class="far fa-stop-circle"></i></button>
</div>
  <!--Barra de progreso-->

  <div class="tiempo">
      <strong><span>Tiempo transcurrido</span></strong>
  </div>
  <div class="tiempo_cancion">
      <strong><span>0:00</span></strong>
  </div>

  <div class="tiempo">
    <strong><span>Tiempo total</span></strong>
  </div>
  <div class="tiempo_cancion">
    <strong><span>0:00</span></strong>
  </div>


