<div class="contenedor-rep">
<!-- Interfaz del reproductor -->

<!-- Controles/Botones-->
<div class="controles">

  <!--Play-->
  <button><i class="far fa-play-circle"></i></button>

  <!--Pause-->
  <button><i class="far fa-pause-circle"></i></button>

  <!--stop-->
  <button><i class="far fa-stop-circle"></i></button>
</div>


  <!--Barra de progreso-->
  <div class="tiempo_cancion">
      <!--Tiempo transcurrido-->
      <strong><span>0:00</span></strong>
      <!--Barra prograsiva de reproducción-->
      <input type="range" class="barraprogreso" value="0">
      <!--Tiempo total-->
      <strong><span>0:00</span></strong>
  </div>
</div>

