.container {
  width: 100vw;
  height: auto;
}

.hidebtn {
 cursor: pointer;
 margin-left: 17rem !important;
 margin-bottom: 10px;
}

.detail-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detalleCancion{
  /* width: 100%;
  height: auto; */
  border-bottom: 2px solid #ddd;
  background-color: rgb(231, 231, 231);
}
span{
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.inputs {
  display: flex;
  flex-direction: column;
}