<h2>Listado de Canciones</h2>

<ul class="Canciones">"
  <li *ngFor="let cancion of Canciones"(click)="onSelectCancion(cancion)" [class.selected]="cancion===cancionSelecionada"> <!-- ngfor recorre el array de canciones -->

    <span class="hovera">{{cancion.title}}  </span>{{cancion.composer}}                         <!-- //[class.selected]="cancion===cancionSelecionada // deja una marca especial a la cancion selecionada -->
    <hr>
    <br>
  </li>
</ul>
  <app-cancion-detalle [cancion]=cancionSelecionada></app-cancion-detalle>
